{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">whiteboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="dataTables-wrapper" class="dataTables_wrapper from-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTable_length" id="dataTables-legnth">
                                            <label>
                                                {{ "Show " }}
                                                <select name="dataTables-length" aria-controls="dataTables-example"
                                                        class="form-control input-sm">
                                                    <option value="10">10</option>
                                                    <option value="10">25</option>
                                                    <option value="10">50</option>
                                                    <option value="10">100</option>
                                                </select>
                                                {{ " entries" }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="dataTables-filter" class="dataTables_filter">
                                            <label>
                                                {{"Search: "}}
                                                <input type="search" class="form-control input-sm" placeholder
                                                       aria-controls="dataTables-example">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table width="100%" id="queries"
                                               class="table table-stripped table-bordered table-hover dataTable no-footer dtr-inline"
                                               role="grid" aria-describedby="dataTables-example_info"
                                               style="width: 100%;">
                                            <thead>
                                            <tr role="row">
                                                {% for name in header %}
                                                <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="sort"
                                                    style="width: 290%;">{{ name }}
                                                </th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            {% for row in rows %}
                                            <tbody>
                                            <tr>
                                                {% for value in row[1:] %}
                                                <td>{{ value }}</td>
                                                {% endfor %}
                                                <td><a href="/edit/{{row[0]}}">Edit</a></td>
                                                <td><a href="/query/{{row[0]}}">Run</a></td>
                                            </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

